/* Aboutus.css */

.aboutus {
  text-align: center;
}

.aboutus h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.aboutus-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.left-aboutus img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.right-aboutus {
  max-width: 600px;
  margin-left: 2rem;
  text-align: left;
}

.right-aboutus p {
  margin-bottom: 1rem;
  line-height: 1.5;
}
